.DS_Store
BTCforPlebs Website Videos/Bitcoin-and-the-Bible/Bitcoin & The Bible Small Group Week 1.mp4
BTCforPlebs Website Videos/Bitcoin-and-the-Bible/Bitcoin & The Bible Small Group Week 1.txt
BTCforPlebs Website Videos/Bitcoin-and-the-Bible/Bitcoin & the Bible Small Group Week 2.mp4
BTCforPlebs Website Videos/Bitcoin-and-the-Bible/Bitcoin & the Bible Small Group Week 2.txt
BTCforPlebs Website Videos/Bitcoin-and-the-Bible/Bitcoin & The Bible Small Group Week 3.mp4
BTCforPlebs Website Videos/Bitcoin-and-the-Bible/Bitcoin & The Bible Small Group Week 3.txt
BTCforPlebs Website Videos/Bitcoin-and-the-Bible/Bitcoin & the Bible Small Group Week 4.mp4
BTCforPlebs Website Videos/Bitcoin-and-the-Bible/Bitcoin & the Bible Small Group Week 4.txt
BTCforPlebs Website Videos/Bitcoin-and-the-Bible/Bitcoin & the Bible Small Group Week 5.mp4
BTCforPlebs Website Videos/Bitcoin-and-the-Bible/Bitcoin & the Bible Small Group Week 5.txt
BTCforPlebs Website Videos/Bitcoin-and-the-Bible/Bitcoin & The Bible Small Group Week 6.mp4
BTCforPlebs Website Videos/Bitcoin-and-the-Bible/Bitcoin & The Bible Small Group Week 6.txt
BTCforPlebs Website Videos/Bitcoin-and-the-Bible/Bitcoin Basics & Why The Local Church Should Care.mp4
BTCforPlebs Website Videos/Bitcoin-and-the-Bible/Bitcoin Basics & Why The Local Church Should Care.txt
BTCforPlebs Website Videos/Home/Home.mp4
BTCforPlebs Website Videos/Learn-Bitcoin/1.0_where_to_start (1080p).html
BTCforPlebs Website Videos/Learn-Bitcoin/1.0_where_to_start (1080p).mp4
BTCforPlebs Website Videos/Learn-Bitcoin/1.0_where_to_start (1080p).txt
BTCforPlebs Website Videos/Learn-Bitcoin/2.0_bitcoin_exchanges (1080p).html
BTCforPlebs Website Videos/Learn-Bitcoin/2.0_bitcoin_exchanges (1080p).mp4
BTCforPlebs Website Videos/Learn-Bitcoin/2.0_bitcoin_exchanges (1080p).txt
BTCforPlebs Website Videos/Learn-Bitcoin/3.0_ownership (1080p).html
BTCforPlebs Website Videos/Learn-Bitcoin/3.0_ownership (1080p).mp4
BTCforPlebs Website Videos/Learn-Bitcoin/3.0_ownership (1080p).txt
BTCforPlebs Website Videos/Learn-Bitcoin/4.0 Price.txt
BTCforPlebs Website Videos/Learn-Bitcoin/4.0_Price.html
BTCforPlebs Website Videos/Learn-Bitcoin/btcforplebs_opening_video (1080p).html
BTCforPlebs Website Videos/Learn-Bitcoin/btcforplebs_opening_video (1080p).mp4
BTCforPlebs Website Videos/Learn-Bitcoin/btcforplebs_opening_video (1080p).txt
BTCforPlebs Website Videos/Bitcoin-and-the-Bible/Bitcoin & The Bible Small Group Week 1 .mp4
.gitignore
BTCforPlebs Website Videos/Bitcoin-and-the-Bible/Bitcoin & The Bible Small Group Week 3 .mp4
BTCforPlebs Website Videos/Bitcoin-and-the-Bible/Bitcoin & The Bible Small Group Week 1.mp4
BTCforPlebs Website Videos/Bitcoin-and-the-Bible/Bitcoin & The Bible Small Group Week 1.txt
BTCforPlebs Website Videos/Bitcoin-and-the-Bible/Bitcoin & the Bible Small Group Week 2.mp4
BTCforPlebs Website Videos/Bitcoin-and-the-Bible/Bitcoin & the Bible Small Group Week 2.txt
BTCforPlebs Website Videos/Bitcoin-and-the-Bible/Bitcoin & The Bible Small Group Week 3.mp4
BTCforPlebs Website Videos/Bitcoin-and-the-Bible/Bitcoin & The Bible Small Group Week 3.txt
BTCforPlebs Website Videos/Bitcoin-and-the-Bible/Bitcoin & the Bible Small Group Week 4.mp4
BTCforPlebs Website Videos/Bitcoin-and-the-Bible/Bitcoin & the Bible Small Group Week 4.txt
BTCforPlebs Website Videos/Bitcoin-and-the-Bible/Bitcoin & the Bible Small Group Week 5.mp4
BTCforPlebs Website Videos/Bitcoin-and-the-Bible/Bitcoin & the Bible Small Group Week 5.txt
BTCforPlebs Website Videos/Bitcoin-and-the-Bible/Bitcoin & The Bible Small Group Week 6.mp4
BTCforPlebs Website Videos/Bitcoin-and-the-Bible/Bitcoin & The Bible Small Group Week 6.txt
BTCforPlebs Website Videos/Bitcoin-and-the-Bible/Bitcoin Basics & Why The Local Church Should Care.mp4
BTCforPlebs Website Videos/Bitcoin-and-the-Bible/Bitcoin Basics & Why The Local Church Should Care.txt
BTCforPlebs Website Videos/Home/Home.mp4
BTCforPlebs Website Videos/Learn-Bitcoin/1.0_where_to_start (1080p).html
BTCforPlebs Website Videos/Learn-Bitcoin/1.0_where_to_start (1080p).mp4
BTCforPlebs Website Videos/Learn-Bitcoin/1.0_where_to_start (1080p).txt
BTCforPlebs Website Videos/Learn-Bitcoin/2.0_bitcoin_exchanges (1080p).html
BTCforPlebs Website Videos/Learn-Bitcoin/2.0_bitcoin_exchanges (1080p).mp4
BTCforPlebs Website Videos/Learn-Bitcoin/2.0_bitcoin_exchanges (1080p).txt
BTCforPlebs Website Videos/Learn-Bitcoin/3.0_ownership (1080p).html
BTCforPlebs Website Videos/Learn-Bitcoin/3.0_ownership (1080p).mp4
BTCforPlebs Website Videos/Learn-Bitcoin/3.0_ownership (1080p).txt
BTCforPlebs Website Videos/Learn-Bitcoin/4.0 Price.txt
BTCforPlebs Website Videos/Learn-Bitcoin/4.0_Price.html
BTCforPlebs Website Videos/Learn-Bitcoin/btcforplebs_opening_video (1080p).html
BTCforPlebs Website Videos/Learn-Bitcoin/btcforplebs_opening_video (1080p).mp4
BTCforPlebs Website Videos/Learn-Bitcoin/btcforplebs_opening_video (1080p).txt
.DS_Store
